<main>
    <div class="container-fluid but-fixed">
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-12 text-center">
                <h1 class="mb-3 text-white">Scraped Articles</h1>
                <h4 class="mb-5 text-white font-weight-light">A collection of articles scraped from Creative Bloq, an art and design inspiration.</h4>
            </div>
            <div class="col-md-10 col-lg-12">
                <div class="card-deck">
                    {{#if article}}
                        {{#each article}}
                            <div class="article card rounded-0 border-0">
                                <div class="card-body">
                                    <a class="thumb" href="{{this.url}}" target="_blank" rel="noreferrer noopener" style="background-image: url({{this.img}});"></a>
                                    <h5><a href="{{this.url}}" target="_blank" rel="noreferrer noopener">{{this.title}}</a></h5>
                                    <p class="text-muted font-weight-light mb-0">{{this.summary}}</p>
                                </div>
                                <div class="card-footer text-right">
                                    <a class="card-link add-note" href="#" data-id="{{this._id}}"><small class="text-muted font-weight-light">Add Note</small></a>
                                    <a class="card-link save-article" href="#" data-id="{{this._id}}"><small class="text-muted font-weight-light">Save Article</small></a>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <a href="/api/scrape" class="btn btn-light btn-lg">Scrape New Articles</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</main>
